body{
    margin: 0;
}
.top{
    width: 100%;
    height: 56px;
    background: #401C2A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}
.top-left{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    gap: 60px;
}
.top-left a{
    color: #CFB698;
    color: #CFB698;
    font-family: Manjari;
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-variant: small-caps;
}
.top-right{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 0px;
    margin-left: -71px;
}

.top-right img{
    width:55px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}

